h1 {
    display: inline-block;
    font-family: "Arial Black", sans-serif;
    font-weight: bolder;
    text-shadow: 3px black;
    padding-bottom: 5px;
    border-bottom: 5px solid black;
    margin-bottom: 30px;
}