li {
    display: block;
    padding: 10px 10px;
    margin: 20px 0px;
    list-style: none;
    font-size: 18px;
    border-radius: 10px;
    border: 2px dotted lightgray;
    transition: transform 0.1s;
}

li a {
    text-decoration: none;
    transition: font-size 0.1s;
    color: indigo;
}

li a:hover {
    font-weight: bold;
    font-size: 1.1em;
    color: purple;
}